/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color: #ffffff;
  --primary-color: #F8CB2E;
  --secondary-color: #EE5007;
  --dark-color: #000000;
  --p-color: #717275;
  --body-font-family: 'Outfit', sans-serif;
  --h1-font-size: 74px;
  --h2-font-size: 46px;
  --h3-font-size: 32px;
  --btn-font-size: 14px;
  --border-radius: 20px;
}

/* Body Styles */
body {
  background-color: var(--white-color);
  font-family: var(--body-font-family); 
}

/* Typography */
h1, h2, h3 {
  color: var(--dark-color);
  font-weight: bold;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

p {
  color: var(--p-color);
  font-size: 18px;
}

/* Links */
a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--secondary-color);
}

/* Buttons */
.custom-btn {
  background: var(--secondary-color);
  border: none;
  border-radius: var(--border-radius);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  padding: 10px 20px;
  transition: background 0.3s;
}

.custom-btn:hover {
  background: darken(var(--secondary-color), 10%);
}

/* Sections */
.section-padding {
  padding: 100px 0;
}

.hero-section {
  position: relative;
  padding-top: 100px;
  height: 100vh;
}

/* Footer */
.site-footer {
  background-color: var(--dark-color);
  padding: 30px 0;
  color: var(--white-color);
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 62px;
  }

  h2 {
    font-size: 36px;
  }

  .custom-btn {
    font-size: 14px;
    padding: 10px 20px;
  }

  .section-padding {
    padding: 50px 0;
  }
}
